<section id="skills" class="skills-section">
  <div class="skills-container">
    
    <div class="skills-content">
      <span class="section-subtitle">{{ 'SKILLS.SUBTITLE' | translate }}</span>
      <div class="skills-text-box">
        <h2 class="section-title">{{ 'SKILLS.TITLE' | translate }}</h2>
        
        <p class="skills-description">
          {{ 'SKILLS.DESCRIPTION' | translate }}
        </p>

        <div class="skills-cta">
          <h3>{{ 'SKILLS.CTA.TITLE_1' | translate }} <span class="highlight">{{ 'SKILLS.CTA.TITLE_2' | translate }}</span></h3>
          <p>{{ 'SKILLS.CTA.TEXT' | translate }}</p>
          
          <a href="#contact" class="btn-outline">
            <span class="btn-text">{{ 'SKILLS.CTA.BTN' | translate }}</span>
          </a>
        </div>
      </div>
    </div>

    <div class="skills-grid">
      @for (skill of skillsList; track skill.name) {
        <div class="skill-item" [class.has-tooltip]="skill.tooltipItems">
          
          @if (skill.tooltipItems) {
            <div class="tooltip-bubble">
              @if (skill.tooltipTitle) {
                <span class="tooltip-title">{{ skill.tooltipTitle | translate }}</span>
              }
              <div class="tooltip-items-container">
                @for (item of skill.tooltipItems; track item.name) {
                  <div class="tooltip-item-block">
                    <img [src]="item.icon" [alt]="item.name">
                    <span class="tooltip-item-name">{{ item.name | translate }}</span>
                  </div>
                }
              </div>
            </div>
          }

          <img [src]="skill.icon" [alt]="skill.name | translate" class="main-icon">
          <span class="skill-name">{{ skill.name | translate }}</span>
        </div>
      }
    </div>

  </div>
</section>