<section id="contact" class="contact-section">
  <div class="contact-container">
    <div class="contact-left">
      <span class="section-subtitle">{{ 'CONTACT.SUBTITLE' | translate }}</span>
      <h2 class="section-title">{{ 'CONTACT.TITLE' | translate }}</h2>
      <h3 class="contact-subtitle">{{ 'CONTACT.PROBLEM_SUBTITLE' | translate }}</h3>
      <p class="contact-desc">
        {{ 'CONTACT.DESCRIPTION' | translate }}
      </p>
      <p class="contact-desc mt-4">
        {{ 'CONTACT.CALL_TO_ACTION_1' | translate }} <strong>{{ 'CONTACT.CALL_TO_ACTION_2' | translate }}</strong>
      </p>
    </div>

    <div class="contact-right">
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="contact-form">
        
        <div class="form-fields-container">
          <div class="form-group" [class.has-error]="contactForm.get('name')?.invalid && contactForm.get('name')?.touched">
            <label for="name">{{ 'CONTACT.FORM.NAME_LABEL' | translate }}</label>
            <div class="input-wrapper">
              <input type="text" id="name" formControlName="name" [placeholder]="'CONTACT.FORM.NAME_PLACEHOLDER' | translate">
            </div>
            @if (contactForm.get('name')?.invalid && contactForm.get('name')?.touched) {
              <span class="error-message">{{ 'CONTACT.FORM.NAME_ERROR' | translate }}</span>
            }
          </div>

          <div class="form-group" [class.has-error]="contactForm.get('email')?.invalid && contactForm.get('email')?.touched">
            <label for="email">{{ 'CONTACT.FORM.EMAIL_LABEL' | translate }}</label>
            <div class="input-wrapper">
              <input type="email" id="email" formControlName="email" [placeholder]="'CONTACT.FORM.EMAIL_PLACEHOLDER' | translate">
            </div>
            @if (contactForm.get('email')?.invalid && contactForm.get('email')?.touched) {
              <span class="error-message">{{ 'CONTACT.FORM.EMAIL_ERROR' | translate }}</span>
            }
          </div>
          
          <div class="form-group" [class.has-error]="contactForm.get('message')?.invalid && contactForm.get('message')?.touched">
            <label for="message">{{ 'CONTACT.FORM.MESSAGE_LABEL' | translate }}</label>
            <div class="input-wrapper">
              <textarea id="message" formControlName="message" [placeholder]="'CONTACT.FORM.MESSAGE_PLACEHOLDER' | translate"></textarea>
            </div>
            @if (contactForm.get('message')?.invalid && contactForm.get('message')?.touched) {
              <span class="error-message">{{ 'CONTACT.FORM.MESSAGE_ERROR' | translate }}</span>
            }
          </div>
        </div>

        <div class="checkbox-group" [class.has-error]="contactForm.get('privacyPolicy')?.invalid && contactForm.get('privacyPolicy')?.touched">
          <label class="custom-checkbox">
            <input type="checkbox" formControlName="privacyPolicy">
            <span class="checkmark">
              <img src="assets/buttons/default.svg" class="chk-default" alt="Unchecked">
              <img src="assets/buttons/default-hover.svg" class="chk-def-hover" alt="Hover Unchecked">
              <img src="assets/buttons/checked.svg" class="chk-checked" alt="Checked">
              <img src="assets/buttons/checked-hover.svg" class="chk-chk-hover" alt="Hover Checked">
            </span>
            <span class="checkbox-text">
              {{ 'CONTACT.FORM.PRIVACY_1' | translate }} <a routerLink="/privacy-policy" class="privacy-link" (click)="$event.stopPropagation()">{{ 'CONTACT.FORM.PRIVACY_LINK' | translate }}</a> {{ 'CONTACT.FORM.PRIVACY_2' | translate }}
            </span> 
          </label>
          @if (contactForm.get('privacyPolicy')?.invalid && contactForm.get('privacyPolicy')?.touched) {
            <div class="error-message error-message-checkbox">{{ 'CONTACT.FORM.PRIVACY_ERROR' | translate }}</div>
          }
        </div>

        <button type="submit" class="submit-btn" [disabled]="contactForm.invalid || isSubmitting" [class.active]="contactForm.valid">
          {{ isSubmitting ? ('CONTACT.FORM.SENDING' | translate) : ('CONTACT.FORM.SUBMIT' | translate) }}
        </button>

        @if (submitSuccess) {
          <p class="success-message">{{ 'CONTACT.FORM.SUCCESS' | translate }}</p>
        }
        @if (submitError) {
          <p class="error-message-submit">{{ 'CONTACT.FORM.ERROR' | translate }}</p>
        }
      </form>
    </div>
  </div>
</section>